[submodule "emacsplugins/ace-jump-mode"]
	path = emacsplugins/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "emacsplugins/company-sourcekit"]
	path = emacsplugins/company-sourcekit
	url = https://github.com/nathankot/company-sourcekit.git
[submodule "emacsplugins/switch-window"]
	path = emacsplugins/switch-window
	url = https://github.com/dimitri/switch-window.git
[submodule "emacsplugins/yasnippet"]
	path = emacsplugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "emacsplugins/swift-mode"]
	path = emacsplugins/swift-mode
	url = https://github.com/wiruzx/swift-mode.git
[submodule "emacsplugins/hydra"]
	path = emacsplugins/hydra
	url = https://github.com/abo-abo/hydra
