.cask
.emacs.d/elpa/*
.emacs.d/url/*
.emacs.d/ido.last*
.emacs.d/auto-save-list/*
.emacs.d/bookmarks
.emacs.d/eshell/*
.emacs.d/projectile.cache
**/*~

# Projectile
projectile-bookmarks.eld
.emacs.d/transient/*
