[submodule "emacsplugins/ace-jump-mode"]
	path = emacsplugins/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "emacsplugins/company-sourcekit"]
	path = emacsplugins/company-sourcekit
	url = https://github.com/nathankot/company-sourcekit.git
[submodule "emacsplugins/yasnippet"]
	path = emacsplugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "emacsplugins/swift-mode"]
	path = emacsplugins/swift-mode
	url = https://github.com/wiruzx/swift-mode.git
[submodule "emacsplugins/hydra"]
	path = emacsplugins/hydra
	url = https://github.com/abo-abo/hydra
[submodule "emacsplugins/magit"]
	path = emacsplugins/magit
	url = https://github.com/magit/magit
[submodule "emacsplugins/emacs-async"]
	path = emacsplugins/emacs-async
	url = https://github.com/jwiegley/emacs-async
[submodule "emacsplugins/helm"]
	path = emacsplugins/helm
	url = https://github.com/emacs-helm/helm
[submodule "emacsplugins/helm-ls-git"]
	path = emacsplugins/helm-ls-git
	url = https://github.com/emacs-helm/helm-ls-git
[submodule "emacsplugins/company-mode"]
	path = emacsplugins/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "emacsplugins/powerline"]
	path = emacsplugins/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "emacsplugins/multi-term"]
	path = emacsplugins/multi-term
	url = https://github.com/emacsmirror/multi-term.git
[submodule "emacsplugins/dash.el"]
	path = emacsplugins/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "emacsplugins/undo-tree"]
	path = emacsplugins/undo-tree
	url = https://github.com/emacsmirror/undo-tree
